{% extends 'base.html' %}

{% block content %}
<div style="margin-left: 260px;">
    <h1>Estado de matrícula</h1>
    {% if matricula %}
        <p><strong>Solicitud de matrícula:</strong> <input type="text" value="{{ matricula.estado }}" readonly></p>

        {% if matricula.estado == 'rechazado' %}
            <div>
                <h3>Motivo del rechazo:</h3>
                <p>{{ matricula.mensaje_rechazo }}</p>
            </div>
        {% endif %}
    {% else %}
        <p>No tienes ninguna matrícula registrada.</p>
    {% endif %}
</div>
{% endblock %}