{% extends 'base.html' %}

{% block content %}
    
    <div class="Datos_Alumno">        
        <h2>Datos del Alumno</h2>

        {% if messages %}
            <div id="message-container">
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>  <!-- Mensaje de éxito -->
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #ff9100;">Guardar</button>
        </form>
    </div>

    <script>
        setTimeout(function() {
            const messageContainer = document.getElementById('message-container');
            if (messageContainer) {
                messageContainer.style.display = 'none';
            }
        }, 5000); // El mensaje desaparecerá después de 5000 ms (5 segundos)
    </script>
    
{% endblock %}