{% extends 'base.html' %}

{% block content %}
<div class="Datos_Matricula" style="margin-left: 260px;">
    <h1>Reporte</h1>
    <div class="cards">
        <!-- Bloques de tarjetas solo para Aprobadas -->
        <div class="card">
            <div class="card-body">
                Aprobadas
            </div> 
            <p class="card-text">{{ total_aprobadas }}</p>
        </div>
    </div>

    <!-- Tabla solo para matrículas aprobadas -->
    <table class="tabla-canasta tabla-inscripcion">
        <thead>
            <tr>
                <th>Año</th>
                <th>Aprobadas</th>
            </tr>
        </thead>
        <tbody>
            {% for anio, conteo in conteo_por_anio.items %}
            <tr>
                <td>{{ anio }}º Año</td>
                <td>{{ conteo.aprobadas }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}